/*------section-descripcion------*/
.section-descripcion{}
.section-descripcion-cont{}

.descripcion-element{}
.descripcion-element-cont{
    background: url(../../source/img/bg-textura.png);
    width: 70%;
    padding: 16px 45px 40px;
}


.descripcion-list{}
.descripcion-list-cont{
    grid-template-columns: auto auto auto auto auto auto auto auto auto;

    border: 1px solid var(--color);

    --ancho:1px;
    --color:#353535;
}

.descripcion-list-cont > .list-item{
    position: relative;
}

.descripcion-list-cont > .list-item::before ,
.descripcion-list-cont > .list-item::after{
    content: "";
    background: var(--color);
    position: absolute;
}

.descripcion-list-cont > .list-item::after{
    width: 100%;
    height: var(--ancho) ;
    top: calc(1px*-1);
    left: 0;
}

.descripcion-list-cont > .list-item::before{
    width: var(--ancho);
    height: 100% ;
    top: 0;
    left: calc(1px*-1);
}

.list-item{}
.list-item-cont{
    padding: 0px 4px 1px;
}

.list-item-title{}
.list-item-title p{
    font-size: 8px;
    font-weight: bold;
    color: #232222;
}

.list-item-text{}
.list-item-text p{
    font-size: 8.5px;
    color: #353535;
}

.list-item-img{
    width: 100px;
    height: 20px;
}
.list-item-img img{}

.list-item-1{
    grid-column: 1 / 4;
}

.list-item-2{
    grid-column: 4 / 7;
}

.list-item-3{
    grid-column: 7 / 10;
}

.list-item-4{
    grid-column: 1 / 2;
}
.list-item-5{
    grid-column: 2 / 3;
}
.list-item-6{
    grid-column: 3 / 5;
}
.list-item-7{
    grid-column: 5 / 8;
}
.list-item-8{
    grid-column: 8 / 10;
}
.list-item-9{
    grid-column: 1 / 2;
}

.list-item-10{

}

.list-item-11{}
.list-item-12{}
.list-item-13{}
.list-item-14{}
.list-item-15{}
.list-item-16{}
.list-item-17{}
.list-item-18{
    grid-column: 1 / 7;
}
.list-item-19{
    grid-column: 7 / 10;
}


.text-list{}
.text-list-cont{
    padding: 25px 0 0 0;
}
.text-list-cont p{}

.text-1-img{
    width: 230px;
    float: right;
    transform: translate(60px, -45px);
    margin: 0 0 0 -70px;
}
.text-1-img img{}

.text-titulo{
    font-size: 9px;
    font-weight: bold;
    color: #232222;
}

.text-descipcion{
    font-size: 8px;
}

.text-descipcion-cont{
    width: 80%;
    display: table-cell;
}
.text-descipcion-list{}

.titulo-1{
    margin: 0 0 8px 0;
}

.text-2-img-1{
    width: 315px;
    float: left;
    margin: 0px 0 0 -135px;
    transform: rotate(-3deg);
}
.text-2-img-1 img{}

.text-2-img-2{
    float: right;
    width: 375px;
    transform: rotate(2deg);
    margin: 0 -124px 0 0;
}
.text-2-img-2 img{}

.text-2-img-3{
    width: 260px;
    float: left;
    margin: 25px 3px 0 -87px;
    transform: rotate(-2deg);
}
.text-2-img-3 img{}


.conclusion-text{}

.conclusion-text-title{
    font-size: 9px;
    font-weight: bold;
    color: #232222;
    margin: 20px 0 8px 0;
}
.conclusion-text-title p{}

.conclusion-item{
    margin: 0 0 14px 0;
}
.conclusion-item-cont{}

.conclusion-left{}
.conclusion-left-cont{}

.conclusion-left-title{
    width: 80px;
}
.conclusion-left-title p{}

.conclusion-left-text{
    width: 85px;
}
.conclusion-left-text p{}

.conclusion-right{}
.conclusion-right-cont{}

.social{}
.social-cont{}

.social-item{}
.social-item-cont{
    margin: 5px 10px;
}

.social-item-icon{}
.social-item-icon svg{}

.social-text{}
.social-text p{
    font-size: 8px;
}

.social-item-icon img{
    width: 60px;
}

.social-text img{
    width: 80px;
}

.social-dec-1{
    line-height: 1px;
}

.social-dec-2{
    margin: -12px 0 0 0;
}

.text-final{
    margin: 25px 0 0 0;
}







@media screen and (max-width: 1210px) {
    .descripcion-element-cont {
        width: 80%;
    }
}

@media screen and (max-width: 1030px) {
    .descripcion-element-cont {
        padding: 16px 20px 40px;
    }
}

@media screen and (max-width: 975px) {
    .descripcion-element-cont {
        width: 85%;
    }

    .text-2-img-2 {
        width: 334px;
        margin: 0 -52px 0 0;
    }
}

@media screen and (max-width: 910px) {
    .descripcion-list-cont {
        grid-template-columns: repeat(5 ,  auto);
    }

    .list-item-1 {
        grid-column: 1 / 2;
    }

    .list-item-2 {
        grid-column: 2 / 3;
    }

    .list-item-3 {
        grid-column: 3/ 4;
    }

    .list-item-4 {
        grid-column: 4/ 5;
    }

    .list-item-5 {
        grid-column: 5/ 6;
    }

    .list-item-6 {
        grid-column: 1 /3; 
    }

    .list-item-7 {
        grid-column: 3 / 6;
    }

    .list-item-8 {
        grid-column: 1 / 2;
    }

    .list-item-9 {
        grid-column: 2 / 4;
    }
    
    .list-item-10 {
        grid-column: 4/ 6;
    }

    .list-item-11 {
        grid-column: 1 / 2;
    }

    .list-item-12 {
        grid-column: 2 /3;
    }

    .list-item-13 {
        grid-column: 3/ 4;
    }

    .list-item-14 {
        grid-column: 4/ 5;
    }

    .list-item-15 {
        grid-column: 5 /6;
    }

    .list-item-16 {
        grid-column: 1 /2;
    }

    .list-item-17 {
        grid-column: 2 / 6;
    }

    .list-item-18 {
        grid-column: 1 / 3;
    }

    .list-item-19 {
        grid-column: 3 / 6;
    }

    .text-1-img {
        width: 207px;
        margin: 0 0 -52px -70px;
    }

}

@media screen and (max-width: 860px) {

    .text-1-img {
        margin: 0 0 -37px -70px;
    }

    .text-2-img-1 {
        width: 280px;
        margin: 0px -18px 0 -133px;
    }
}


@media screen and (max-width: 825px) {

    .text-2-img-3 {
        width: 200px;
        margin: 25px 10px 0 -87px;
    }
}

@media screen and (max-width: 800px) {
    .text-2-img-2 {
        width: 300px;
        margin: 0 -72px 0 -20px;
    }
}

@media screen and (max-width: 750px) {
    .text-2-img-3 {
        width: 200px;
        margin: 25px 14px 0 -78px;
        transform: rotate(1deg);
    }
}

@media screen and (max-width: 740px) {

    .conclusion-item-cont {
        display: block !important;
    }
}

@media screen and (max-width: 700px) {
    .conclusion-media-700{
        margin: 110px 0 0 0;
    }

    .social-media-700{
        margin: 30px 0 0 0;
    }
}

@media screen and (max-width: 655px) {    
    .list-item-18{
        grid-column: 1 / 6;
    }
    
    .list-item-19 {
        grid-column: 1 / 6;
    }

    .conclusion-media-700{
        margin: 72px 0 0 0;
    }
}

@media screen and (max-width: 611px) {    
    .text-1-img {
        margin: 0 0 -56px -70px;
    }
}


@media screen and (max-width: 595px) {    
    .conclusion-media-700 {
        margin: 41px 0 0 0;
    }
}

@media screen and (max-width: 555px) {    
    .text-2-img-3 {
        width: 200px;
        margin: 25px 16px 0 -35px;
        transform: rotate(1deg);
    }
}

@media screen and (max-width: 530px) {
    .list-item-6 {
        grid-column: 1 / 6;
    }

    .list-item-7 {
        grid-column: 1 / 6;
    }
}

@media screen and (max-width: 515px) {
    .list-item-14 {
        grid-column: 4 / 6;
    }

    .list-item-15 {
        grid-column: 1 / 2;
    }

    .list-item-16 {
        grid-column: 2 / 3;
    }

    .list-item-17 {
        grid-column: 3 / 6;
    }
    
}

@media screen and (max-width: 500px) {    
    .conclusion-media-700 {
        margin: 10px 0 0 0;
    }
}

@media screen and (max-width: 475px) {
    .list-item-5 {
        grid-column: 1 / 2;
    }

    .list-item-6 {
        grid-column: 2 /6;
    }

        .list-item-13 {
        grid-column: 3 / 6;
    }

    .list-item-14 {
        grid-column: 1 / 2;
    }

    .list-item-15 {
        grid-column: 2/ 3;
    }

    .list-item-16 {
        grid-column: 3 / 6;
    }

    .list-item-17 {
        grid-column: 1/ 6;
    }
    
}


@media screen and (max-width: 420px) {
    .list-item-4 {
        grid-column: 1 / 3;
    }

    .list-item-5 {
        grid-column: 3 / 6;
    }
    
    .list-item-6 {
        grid-column: 1 / 6;
    }
}

@media screen and (max-width: 405px) {
    .list-item-9 {
        grid-column: 2 / 6;
    }

    .list-item-10 {
        grid-column: 1 / 2;
    }

    .list-item-11 {
        grid-column: 2 / 6;
    }

    .list-item-12 {
        grid-column: 1/ 3;
    }

}


@media screen and (max-width: 415px) {
    .text-2-img-2 {
        width: 250px;
    }
}

@media screen and (max-width: 370px) {
    .list-item-2 {
        grid-column: 2 / 6;
    }

    .list-item-3 {
        grid-column: 1 / 4;
    }

    .list-item-4 {
        grid-column: 4/ 6;
    }

    .list-item-5 {
        grid-column: 1/ 6;
    }

}

@media screen and (max-width: 355px) {
    .text-2-img-2 {
        width: 210px;
        margin: 0 -9px 0 -53px;
    }

    .text-2-img-2 img{
        transform: translate(45px, 0);
    }
}

@media screen and (max-width: 350px) {
    .text-2-img-3 {
        width: 174px;
        margin: 25px 13px 0 -35px;
    }
}

@media screen and (max-width: 340px) {
    .list-item-15 {
        grid-column: 2 / 6;
    }
    .list-item-16 {
        grid-column: 1/ 6;
    }

    .text-2-img-2 {
        margin: 0 -12px 0 -53px;
        width: 200px;
    }
}

@media screen and (max-width: 320px) {
    .text-1-img {
        margin: 0 -40px -54px -70px;
    }
}






