/*-----card-mapa-----*/

@media screen and (max-width: 1308px) {
    .card-mapa-hilo {
        top: -168%;
        left: 181%;
        width: 11.5px;
        height: 441px;
    }
}

@media screen and (max-width: 1240px) {
    .card-mapa-hilo {
        top: -163%;
        left: 175%;
        width: 11.5px;
        height: 430px;
    }
}

@media screen and (max-width: 1240px) {
    .card-mapa-hilo {
        top: -163%;
        left: 175%;
        width: 11.5px;
        height: 430px;
    }
}

@media screen and (max-width: 1204px) {
    .card-mapa-hilo {
        top: -155%;
        left: 177%;
        width: 11px;
        height: 413px;
        transform: rotate(81deg);
    }
}

@media screen and (max-width: 1158px) {
    .card-mapa-hilo {
        top: -152%;
        left: 173%;
        width: 10.5px;
        height: 394px;
    }
}


@media screen and (max-width: 1108px) {
    .card-mapa-hilo {
        top: -147%;
        left: 170%;
        width: 10.5px;
        height: 385px;
    }
}

@media screen and (max-width: 1074px) {
    .card-mapa-hilo {
        top: -152%;
        left: 164%;
        width: 10.5px;
        height: 388px;
    }
}

@media screen and (max-width: 1022px) {
    .card-mapa-hilo {
        top: -141%;
        left: 162%;
        width: 10px;
        height: 366px;
        transform: rotate(80deg);
    }
}

@media screen and (max-width: 960px) {
    .card-mapa-hilo {
        top: -135%;
        left: 158%;
        width: 9.5px;
        height: 349px;
        transform: rotate(79deg);
    }
}

@media screen and (max-width: 900px) {
    .card-mapa-hilo {
        top: -134%;
        left: 150%;
        width: 9.5px;
        height: 340px;
        transform: rotate(78deg);
    }
}


@media screen and (max-width: 830px) {
    .card-mapa-hilo {
        top: -126%;
        left: 146%;
        width: 9px;
        height: 326px;
        transform: rotate(76deg);
    }
}

@media screen and (max-width: 774px) {
    .card-mapa-hilo {
        top: -120%;
        left: 143%;
        width: 9px;
        height: 301px;
    }
}

@media screen and (max-width: 700px) {
    .card-mapa-hilo {
        top: -116%;
        left: 136%;
        width: 8px;
        height: 286px;
        transform: rotate(74deg);
    }
}

@media screen and (max-width: 613px) {
    .card-mapa-hilo {
        top: -109%;
        left: 132%;
        width: 8px;
        height: 273px;
        transform: rotate(73deg);
    }
}

@media screen and (max-width: 565px) {
    .card-mapa-hilo {
        top: -102%;
        left: 128%;
        width: 7px;
        height: 252px;
        transform: rotate(72deg);
    }
}

@media screen and (max-width: 495px) {
    .card-mapa-hilo {
        top: -99%;
        left: 121%;
        width: 7px;
        height: 240px;
        transform: rotate(70deg);
    }
}

@media screen and (max-width: 417px) {
    .card-mapa-hilo {
        top: -93%;
        left: 116%;
        width: 7px;
        height: 226px;
        transform: rotate(68deg);
    }
}

@media screen and (max-width: 350px) {

    .card-mapa{
        position: absolute;
        top: 29%;
        left: 1%;
    }

    .card-mapa-hilo {
        display: none;
    }

    .card-principal {
        transform: translate(72px, -12px);
    }

}

@media screen and (max-width: 350px) {

    .card-principal {
        transform: translate(34px, -12px);
    }

}


/*-----card-social-hilo-----*/

@media screen and (max-width: 1326px) {

    .card-social-hilo {
        left: 95%;
    }

}

@media screen and (max-width: 1286px) {

    .card-social-hilo {
        transform: rotate(36deg);
    }

}

@media screen and (max-width: 1248px) {

    .card-social-hilo {
        left: 93%;
    }

}

@media screen and (max-width: 1190px) {

    .card-social-hilo {
        left: 90%;
        transform: rotate(35deg);
        top: -207%;
    }

}

@media screen and (max-width: 1142px) {

    .card-social-hilo {
        left: 88%;
        transform: rotate(34deg);
    }

}

@media screen and (max-width: 1075px) {

    .card-social-hilo {
        left: 86%;
        transform: rotate(33deg);
    }

}

@media screen and (max-width: 1020px) {

    .card-social-hilo {
        transform: rotate(30deg);
    }

}

@media screen and (max-width: 970px) {

    .card-social-hilo {
        transform: rotate(29deg);
        left: 85%;
    }

}

@media screen and (max-width: 935px) {

    .card-social-hilo {
        transform: rotate(29deg);
        left: 84%;
        width: 10px;
        height: 390px;
        top: -199%;
    }

}

@media screen and (max-width: 887px) {

    .card-social-hilo {
        transform: rotate(27deg);
        left: 83%;
    }

}

@media screen and (max-width: 845px) {

    .card-social-hilo {
        display: none;
    }

}

@media screen and (max-width: 455px) {

    .card {
        background: url(../../source/img/papel.png);
        background-position: center;
        background-size: auto;  
    } 

    .card-cont {
        transform: translate(0, -22px);
    }

    .card-target{
        position: relative !important ;
    }

    .card-bg-papel{
        display: none;
    }

    .card-left{
        display: none;
    }

    .card-amarillo{
        display: none;
    }

}


/*-----card-pago-----*/
@media screen and (max-width: 1326px) {

    .card-pago-hilo {
        width: 13.5px;
        height: 520px;
        transform: rotate(311deg);
    }

}

@media screen and (max-width: 1300px) {

    .card-pago-hilo {
        transform: rotate(312deg);
    }

}

@media screen and (max-width: 1287px) {

    .card-pago-hilo {
        transform: rotate(312deg);
        top: -412px;
        left: 6%;
        width: 13px;
        height: 510px;
    }

}

@media screen and (max-width: 1250px) {

    .card-pago-hilo {
        transform: rotate(314deg);
    }

}

@media screen and (max-width: 1250px) {

    .card-pago-hilo {
        transform: rotate(313deg);
        top: -398px;
        left: 8%;
        width: 13px;
        height: 487px;
    }

}

@media screen and (max-width: 1178px) {

    .card-pago-hilo {
        transform: rotate(314deg);
        left: 10%;
        height: 482px;
    }

}

@media screen and (max-width: 1150px) {

    .card-pago-hilo {
        transform: rotate(315deg);
        top: -398px;
        left: 12%;
        width: 12.5px;
    }

}

@media screen and (max-width: 1110px) {

    .card-pago-hilo {
        transform: rotate(316deg);
        left: 14%;
    }

}

@media screen and (max-width: 1110px) {

    .card-pago-hilo {
        transform: rotate(316deg);
        left: 15%;
        top: -384px;
        width: 12px;
        height: 453px;
    }

}

@media screen and (max-width: 1043px) {

    .card-pago-hilo {
        transform: rotate(318deg);
    }

}

@media screen and (max-width: 1010px) {

    .card-pago-hilo {
        transform: rotate(318deg);
        left: 18%;
    }

}

@media screen and (max-width: 978px) {

    .card-pago-hilo {
        transform: rotate(320deg);
    }

}

@media screen and (max-width: 952px) {

    .card-pago-hilo {
        transform: rotate(321deg);
        top: -384px;
        left: 20%;
        width: 12px;
        height: 451px;
    }

}

@media screen and (max-width: 914px) {

    .card-pago-hilo {
        transform: rotate(322deg);
        top: -375px;
        height: 433px;
    }

}

@media screen and (max-width: 904px) {

    .card-pago-hilo {
        left: 21%;
        width: 11.5px;
        height: 439px;
    }

}

@media screen and (max-width: 876px) {

    .card-pago-hilo {
        left: 22%;
        width: 11px;
        height: 431px;
        transform: rotate(324deg);
    }

}

@media screen and (max-width: 845px) {

    .list-2 {
        grid-template-columns: auto;
    }
    
    .card-pago {
        justify-content: center ! IMPORTANT;
        padding: 75px 0 0 0;
    }
    
    .card-pago-hilo{
        display: none;
    }

}



@media screen and (max-width: 390px) {
    
    .card-pago{
        background: url(../../source/img/papel.png);
        background-size: auto;
        background-position: center;
        margin: 21px 0 0 0;
        padding: 0 0 60px 0;
    }

    .card-pago-bg{
        display: none;
    }

    .pago-cards-list {
        position: relative !important;
        top: 0%; 
        left: 0%;
    }

    .card-pago-left{
        display: none;
    }

    .card-pago-amarillo{
        display: none;
    }

    .pago-icon-list-cont{
        display: grid !important;
    }

}


/*-----card-evento-----*/
@media screen and (max-width: 1320px) {

    .card-evento-hilo {
        top: -76%;
        left: 144%;
        width: 14px;
        height: 537px;
    }

}

@media screen and (max-width: 1254px) {

    .card-evento-hilo {
        top: -72%;
        left: 141%;
        height: 514px;
    }

}

@media screen and (max-width: 1190px) {

    .card-evento-hilo {
        top: -69%;
        left: 137%;
        width: 13px;
        height: 495px;
    }

}

@media screen and (max-width: 1124px) {

    .card-evento-hilo {
        top: -65%;
        left: 134%;
        height: 473px;
    }

}

@media screen and (max-width: 1060px) {

    .card-evento-hilo {
        top: -61%;
        left: 130%;
        height: 451px;
        width: 12px;
    }

}

@media screen and (max-width: 992px) {

    .card-evento-hilo {
        top: -57%;
        left: 126%;
        height: 428px;
    }

}

@media screen and (max-width: 918px) {

    .card-evento-hilo {
        top: -52%;
        left: 122%;
        height: 404px;
    }

}

@media screen and (max-width: 845px) {

    .card-evento-hilo {
        top: -48%;
        left: 118%;
        height: 382px;
        width: 11px;
    }

}

@media screen and (max-width: 775px) {

    .card-evento-hilo {
        top: -43%;
        left: 115%;
        height: 356px;
    }

}

@media screen and (max-width: 712px) {

    .card-evento-hilo {
        top: -40%;
        left: 112%;
        height: 334px;
        width: 10px;
    }

}

@media screen and (max-width: 660px) {

    .card-evento-hilo {
        top: -36%;
        left: 109%;
        height: 315px;
    }

}

@media screen and (max-width: 625px) {
    
    .list-3 {
        grid-template-columns: auto ;
    }

    .card-evento-hilo{
        display: none;
    }

    .card-evento{
        justify-content: center !important;
    }

    .card-sorteo{
        justify-content: center !important;
    }

}


@media screen and (max-width: 320px) {
    
    .card-evento-img {
        width: 265px;
    }

    .card-sorteo-img {
        width: 257px;
    }


}



/*-----card-sorteo-----*/

@media screen and (max-width: 845px) {

    .card-sorteo-hilo {
        display: none;
    }

}